<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

    Duo: {{combos.length}}
    Verses: {{verses.length}}
    Basic: {{heroes.length}}
  <div ng-repeat="hero in heroes">
    <div hero-basic my-hero="hero"></div>
  </div>

  <ul style="float: left;">
    <li ng-repeat="v in AxeVerses">
    {{v.HeroId2}} : {{v.TrueWinPct}}
    </li>
  </ul>
  <ul style="float: left;">
    <li ng-repeat="c in AxeCombos">
    {{c.HeroId2}} : {{c.TrueWinPct}}
    </li>
  </ul>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
